@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  direction: rtl;
}

body {
  overflow-x: hidden;
  color: #fff;
}

.section1Background {
  background-image: url('/Background.jpg');
  background-size: cover;
}
